<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.scrmabc.mapper.AccountMapper">
<cache/>
<resultMap id="accountResultMap" type="Account"> 
<id property="account_id" column="account_id" /> 
                        <result property="account_id" column="ACCOUNT_ID"/> 
                        <result property="depart_id" column="DEPART_ID"/> 
                        <result property="loginname" column="LOGINNAME"/> 
                        <result property="password" column="PASSWORD"/> 
                        <result property="username" column="USERNAME"/> 
                        <result property="tel_phone_number" column="TEL_PHONE_NUMBER"/> 
                        <result property="mobile_phone_number" column="MOBILE_PHONE_NUMBER"/> 
                        <result property="email" column="EMAIL"/> 
                        <result property="police_no" column="POLICE_NO"/> 
                        <result property="id_number" column="ID_NUMBER"/> 
                        <result property="isonline" column="ISONLINE"/> 
                        <result property="aproval_status" column="APROVAL_STATUS"/> 
                        <result property="police_type" column="POLICE_TYPE"/> 
                        <result property="last_logintime" column="LAST_LOGINTIME"/> 
                        <result property="stamp" column="STAMP"/> 
                        <result property="login_type" column="LOGIN_TYPE"/> 
                        <result property="usbkey_id" column="USBKEY_ID"/> 
                        <result property="is_lock" column="IS_LOCK"/> 
                        <result property="is_delete" column="IS_DELETE"/> 
                        <result property="headship" column="HEADSHIP"/> 
                        <result property="sex" column="SEX"/> 
                           


</resultMap> 
	<select id="getList" parameterType="Account"
		resultType="list" resultMap="accountResultMap">
		select * from account 
	</select>

	<select id="accountAll" parameterType="com.core.util.page.PageSelect" resultType="list" resultMap="accountResultMap">
		select * from account a
		
	</select>
<select id="countAll" parameterType="com.core.util.page.PageSelect" resultType="_int" >
		select count(*) from account a
		
	</select>
	<!-- accountResultMap是account-resultmap.xml中定义的resultmap -->
	<select id="get" parameterType="Account" resultType="Account"
		resultMap="accountResultMap">
		<![CDATA[
			select * from account where account_id = #{accountId}
        ]]>
	</select>

<select id="getById" parameterType="java.lang.Integer" resultType="Account"
		resultMap="accountResultMap">
		<![CDATA[
			select * from account where account_id =#{id} 
        ]]>
	</select>

	<!-- 自动生成id策略 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="account_id"
		parameterType="Account">
		insert into t_a_account
         <trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="@Ognl@isNotBlank(account_id)" >
        ACCOUNT_ID,
                 </if>
		<if test="@Ognl@isNotBlank(depart_id)" >
        DEPART_ID,
                 </if>
		<if test="@Ognl@isNotBlank(loginname)" >
        LOGINNAME,
                 </if>
		<if test="@Ognl@isNotBlank(password)" >
        PASSWORD,
                 </if>
		<if test="@Ognl@isNotBlank(username)" >
        USERNAME,
                 </if>
		<if test="@Ognl@isNotBlank(tel_phone_number)" >
        TEL_PHONE_NUMBER,
                 </if>
		<if test="@Ognl@isNotBlank(mobile_phone_number)" >
        MOBILE_PHONE_NUMBER,
                 </if>
		<if test="@Ognl@isNotBlank(email)" >
        EMAIL,
                 </if>
		<if test="@Ognl@isNotBlank(police_no)" >
        POLICE_NO,
                 </if>
		<if test="@Ognl@isNotBlank(id_number)" >
        ID_NUMBER,
                 </if>
		<if test="@Ognl@isNotBlank(isonline)" >
        ISONLINE,
                 </if>
		<if test="@Ognl@isNotBlank(aproval_status)" >
        APROVAL_STATUS,
                 </if>
		<if test="@Ognl@isNotBlank(police_type)" >
        POLICE_TYPE,
                 </if>
		<if test="@Ognl@isNotBlank(last_logintime)" >
        LAST_LOGINTIME,
                 </if>
		<if test="@Ognl@isNotBlank(stamp)" >
        STAMP,
                 </if>
		<if test="@Ognl@isNotBlank(login_type)" >
        LOGIN_TYPE,
                 </if>
		<if test="@Ognl@isNotBlank(usbkey_id)" >
        USBKEY_ID,
                 </if>
		<if test="@Ognl@isNotBlank(is_lock)" >
        IS_LOCK,
                 </if>
		<if test="@Ognl@isNotBlank(is_delete)" >
        IS_DELETE,
                 </if>
		<if test="@Ognl@isNotBlank(headship)" >
        HEADSHIP,
                 </if>
		<if test="@Ognl@isNotBlank(sex)" >
        SEX,
                 </if>
         </trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," > 
		<if test="@Ognl@isNotBlank(account_id)" >
                    #{account_id},
         </if>
		<if test="@Ognl@isNotBlank(depart_id)" >
                    #{depart_id},
         </if>
		<if test="@Ognl@isNotBlank(loginname)" >
                    #{loginname},
         </if>
		<if test="@Ognl@isNotBlank(password)" >
                    #{password},
         </if>
		<if test="@Ognl@isNotBlank(username)" >
                    #{username},
         </if>
		<if test="@Ognl@isNotBlank(tel_phone_number)" >
                    #{tel_phone_number},
         </if>
		<if test="@Ognl@isNotBlank(mobile_phone_number)" >
                    #{mobile_phone_number},
         </if>
		<if test="@Ognl@isNotBlank(email)" >
                    #{email},
         </if>
		<if test="@Ognl@isNotBlank(police_no)" >
                    #{police_no},
         </if>
		<if test="@Ognl@isNotBlank(id_number)" >
                    #{id_number},
         </if>
		<if test="@Ognl@isNotBlank(isonline)" >
                    #{isonline},
         </if>
		<if test="@Ognl@isNotBlank(aproval_status)" >
                    #{aproval_status},
         </if>
		<if test="@Ognl@isNotBlank(police_type)" >
                    #{police_type},
         </if>
		<if test="@Ognl@isNotBlank(last_logintime)" >
                    #{last_logintime},
         </if>
		<if test="@Ognl@isNotBlank(stamp)" >
                    #{stamp},
         </if>
		<if test="@Ognl@isNotBlank(login_type)" >
                    #{login_type},
         </if>
		<if test="@Ognl@isNotBlank(usbkey_id)" >
                    #{usbkey_id},
         </if>
		<if test="@Ognl@isNotBlank(is_lock)" >
                    #{is_lock},
         </if>
		<if test="@Ognl@isNotBlank(is_delete)" >
                    #{is_delete},
         </if>
		<if test="@Ognl@isNotBlank(headship)" >
                    #{headship},
         </if>
		<if test="@Ognl@isNotBlank(sex)" >
                    #{sex},
         </if>
         </trim><!--
		<selectKey resultType="int" keyProperty="account_id">
   SELECT LAST_INSERT_ID()
  </selectKey>
	--></insert>


	<update id="edit" parameterType="Account">
		update t_a_account set
		<trim  suffixOverrides=",">
		
		   
		
		
		    <if test="@Ognl@isNotBlank(email)" >
                       EMAIL=#{email}
                        ,
                       </if>
         </trim>
		where account_id =#{account_id}
	</update>

	<delete id="remove" parameterType="Account">
		delete from account where
		account_id = #{accountId}
	</delete>

   <delete id="removeById" parameterType="java.lang.Integer">
		delete from account where
		account_id = #{id}
	</delete>
	<select id="getByPage" parameterType="com.core.util.page.PageSelect" resultType="list" resultMap="accountResultMap">
		SELECT
		*
		FROM
		account a
			<where>
					<if test="@Ognl@isNotBlank(filter.account_id)">
		
			 a.ACCOUNT_ID=#{filter.account_id}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.depart_id)">
		
			 a.DEPART_ID=#{filter.depart_id}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.loginname)">
		
			 a.LOGINNAME=#{filter.loginname}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.password)">
		
			 a.PASSWORD=#{filter.password}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.username)">
		
			 a.USERNAME=#{filter.username}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.tel_phone_number)">
		
			 a.TEL_PHONE_NUMBER=#{filter.tel_phone_number}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.mobile_phone_number)">
		
			 a.MOBILE_PHONE_NUMBER=#{filter.mobile_phone_number}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.email)">
		
			 a.EMAIL=#{filter.email}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.police_no)">
		
			 a.POLICE_NO=#{filter.police_no}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.id_number)">
		
			 a.ID_NUMBER=#{filter.id_number}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.isonline)">
		
			 a.ISONLINE=#{filter.isonline}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.aproval_status)">
		
			 a.APROVAL_STATUS=#{filter.aproval_status}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.police_type)">
		
			 a.POLICE_TYPE=#{filter.police_type}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.last_logintime)">
		
			 a.LAST_LOGINTIME=#{filter.last_logintime}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.stamp)">
		
			 a.STAMP=#{filter.stamp}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.login_type)">
		
			 a.LOGIN_TYPE=#{filter.login_type}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.usbkey_id)">
		
			 a.USBKEY_ID=#{filter.usbkey_id}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.is_lock)">
		
			 a.IS_LOCK=#{filter.is_lock}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.is_delete)">
		
			 a.IS_DELETE=#{filter.is_delete}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.headship)">
		
			 a.HEADSHIP=#{filter.headship}
			 			 and 
		</if>
					<if test="@Ognl@isNotBlank(filter.sex)">
		
			 a.SEX=#{filter.sex}
			 			 
		</if>
		</where>
	      	 <if test="@Ognl@isNotBlank(filter.sortname)">
		<if test="@Ognl@isNotBlank(filter.sortorder)">
		 order by #{filter.sortname} #{filter.sortorder}
		</if>
      </if>	
		LIMIT #{offset},#{pageSize} 
	</select>

</mapper>
